/* FOOTER */

footer {
    width: 100%;
    bottom: 0;
    position: relative;;
}

#footer {
    width: 100%;
    color: #FFC107;
    background: #222222;
    display: block;
    text-align: center;
    overflow: hidden;
}

.footer-list {
    display: inline-block;
    min-height: 50px;
    width: 25%;
    padding: 20px 20px;
    margin: 0;
    list-style: none;
    vertical-align: top;
    float: left;
}

.footer-list li {
    display: block;
}