/* FOOTER */

footer {
    width: 100%;
    bottom: 0;
    position: static;
}

#footer {
    width: 100%;
    color: #FFFFFF;
    background: #222222;
    border-top: 2px solid #E91E63;
    margin-top: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    overflow: hidden;
}

.footer-list {
    display: inline-block;
    min-height: 50px;
    width: 25%;
    padding: 20px 30px;
    margin: 0;
    list-style: none;
    vertical-align: top;
    float: left;
}

.footer-list li {
    display: block;
    text-align: left;
}

.footer-list li a {
    color: #FFFFFF;
}

.footer-list li a:hover {
    color: #424242;
}

li.footer-header {
    color: #E91E63;
    font-variant: small-caps;
    font-size: 150%;
    margin-bottom: 10px;
}

#footer div {
    overflow: hidden;
}

#footer div.footer-section {
    padding: 20px 0;
    text-align: center;
    display: block;
    color: #E91E63;
}

#footer div.footer-section a {
    height: 48px;
    width: 48px;
    margin: 0 15px;
    display: inline-block;
    background-position: center center;
    background-size: 48px 48px;
    background-repeat: no-repeat;
}

#footer div.footer-section a:hover {
    border: 2px solid #FFFFFF;
}

a.facebook {
    background-image: url('https://s3.amazonaws.com/nofoodz/_main/icons/facebook-48x48.png');
}

a.google-plus {
    background-image: url('https://s3.amazonaws.com/nofoodz/_main/icons/google-plus-48x48.png');
}

a.pinterest {
    background-image: url('https://s3.amazonaws.com/nofoodz/_main/icons/pinterest-48x48.png');
}

a.twitter {
    background-image: url('https://s3.amazonaws.com/nofoodz/_main/icons/twitter-48x48.png');
}
