div.explore-options {
	margin-bottom: 15px;
	text-align: center;
}

div.explore-options button {
	margin-right: 5px;
}

#explore-info {
	min-height: 400px;
}

@media only screen and (max-width: 766px) {

	div.explore-options button {
		display: block;
		margin: 0 auto 10px auto;
	}

}