div.tab-pane {
    width: 100%;
}

div.myrating {
    width: 100%;
    font-size: 18px;
    display: table-row;
}

div.myrating span {
    padding: 5px 0;
    display: table-cell;
}

div.myrating span.rating {
    cursor: default;
    min-width: 49px;
}

div.myrating div.tooltip {
    position: absolute;
}

div.myrating span.number {
    color: #424242;
    padding-right: 10px;
    font-size: 20px;
    text-align: right;
}

div.myrating span.name,
div.myrating span.brand {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
}

div.myrating span.totalRating {
    display: table-cell;
    padding: 0 0 0 10px;
    color: #E91E63;
    margin: 0 5px;
    font-size: 18px;
    vertical-align: middle;
}

div.myrating > a {
    display: table-cell;
}

div.myrating a.user-color {
    padding: 0 10px;
}

div.myrating button.remove {
    font-size: 14px;
    margin: 10px;
}

label.inputlabel {
    font-weight: bold;
}

span.total-count,
span.ratingdivider {
    font-size: 18px;
    vertical-align: middle;
}

div.content label {
    font-weight: bold;
}

/* Menu row */
div.side-section {
    display: inline-block;
    width: 18%;
    height: 100%;
    position: relative;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

div.side-section.left {
    text-align: right;
}

div.side-section.right {
    text-align: left;
}

div.side-section .nofoods-pagenav {
    margin: 45px 0 0 0;
}

@media only screen and (max-width: 766px) {
    div.myrating span.name,
    div.myrating span.brand {
        float: left;
        width: 100%;
    }
}