div.tab-pane {
    width: 100%;
}

div.myrating {
    width: 100%;
}

span.name {
    color: #4CAF50;
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    margin: 10px 10px 10px 0;
}

span.name.lower {
    font-size: 14px;
}

span.brand {
    display: block;
    vertical-align: middle;
    font-size: 24px;
    margin: 0 0 40px 0;
}

label.inputlabel {
    font-weight: bold;
}

span.totalRating {
    color: #E91E63;
    margin: 0 5px;
    font-size: 18px;
    vertical-align: middle;
}

span.total-count,
span.ratingdivider {
    font-size: 18px;
    vertical-align: middle;
}

div.content label {
    font-weight: bold;
}

/* Menu row */
div.side-section {
    display: inline-block;
    width: 18%;
    min-height: 600px;
    height: 100%;
    position: relative;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

div.side-section.left {
    text-align: right;
}

div.side-section.right {
    text-align: left;
}

div.side-section .nofoods-pagenav {
    margin: 45px 0 0 0;
}