#foods_bodydiv {
    min-height: 200px;
}

#foods_bodydiv span.name {
    color: #4CAF50;
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    margin: 10px 10px 10px 0;
}

#foods_bodydiv span.brand {
    display: block;
    vertical-align: middle;
    font-size: 24px;
    margin: 0 0 40px 0;
}

#foods_bodydiv span.totalRating {
    color: #E91E63;
    margin: 0 5px;
    font-size: 18px;
    vertical-align: middle;
}

#foods_commentsinputs {
    text-align: center;
}

#foods_commentsinputs>div {
    text-align: right;
    min-height: 20px;
}

#foods_commentsinputs>div.center {
    text-align: center;
    margin-bottom: 15px;
}


#foods_comments {
    text-align: center;
}

#foods_commentsdiv.no-user-rating span.foods-comment,
#foods_commentsdiv.no-user-rating input.foods-comment-input,
#foods_commentsdiv.no-user-rating #foods_editcomments,
#foods_commentsdiv.no-user-rating #foods_comment,
#foods_commentsdiv.no-user-rating #items_comment_description,
#foods_commentsdiv.no-comments #foods_editcomments,
#foods_commentsdiv.comment-mode span.foods-comment,
#foods_commentsdiv.display-mode input.foods-comment-input,
#foods_commentsdiv.display-mode #foods_comment,
#foods_commentsdiv.display-mode #items_comment_description {
    display: none;
    width: 0;
    height: 0;
}

.total-count {
    color: #2196F3;
    cursor: pointer;
}

input.foods-comment-input {
    width: 180px;
    display: inline-block;
    margin: auto 10px;
    vertical-align: middle;
}

span.foods-comment {
    font-size: 18px;
    margin: auto 20px;
    vertical-align: middle;
}

#foods_commentsinputs {
    padding: 0;
    min-height: 160px;
    border: 4px dashed #4CAF50;
}

#foods_editcomments {
    margin: auto;
    vertical-align: middle;
}

#foods_comment {
    float: right;
}

#item_raters {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #FFFFFF;
    z-index: 10;
    border-top: 1px solid #DDDDDD;
    padding: 0 20px;
    transition: height 1s;
    -moz-transition: height 1s; /* Firefox 4 */
    -webkit-transition: height 1s; /* Safari and Chrome */
    -o-transition: height 1s; /* Opera */
}

#item_raters.visible {
    height: 60%;
}

.tab-list {
    list-style: none;
    margin-bottom: 0;
}

.tab-list li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
}

.tab-list li.close,
.tab-list li.close:hover {
    height: 48px;
    float: right;
    color: transparent;
    opacity: 1;
}

.tab-list li.close a {
    color: transparent;
    padding-bottom: 5px;
}

#foods_infodiv h4 > span::before,
.tab-list li.close a::before {
    content: '';
    position: relative;
    right: -3px;
    display: inline-block;
    height: 2px;
    width: 18px;
    background: #424242;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
}

#foods_infodiv h4 > span::after,
.tab-list li.close a::after {
    content: '';
    position: relative;
    right: 3px;
    display: inline-block;
    height: 2px;
    width: 18px;
    background: #424242;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
}

.tab-list li.close a:hover::before,
.tab-list li.close a:hover::after,
#foods_infodiv h4:hover > span::before,
#foods_infodiv h4:hover > span::after {
    background: #E91E63;
}

.tab-list li a.active {
    color: #424242;
    border-bottom: 2px solid #424242;
}

#item_raterslist {
    margin: 20px 0 0 0;
    list-style: none;
}

#foods_infodiv h4 {
    cursor: pointer;
    margin-top: 50px;
}

#foods_infodiv > div > ul.item-infolist {
    display: none;
}

#foods_infodiv > div.open > ul.item-infolist {
    display: table;
}

#foods_infodiv > div > span {
    display: none;
}

#foods_infodiv > div.open > span {
    display: block;
}

ul.item-infolist li {
    display: table-row;
}

ul.item-infolist span {
    display: table-cell;
}

ul.item-infolist span:first-child {
    text-align: right;
    min-width: 125px;
    padding: 0 20px 0 0;
}

#foods_infodiv h4 > span {
    position: relative;
    margin-left: 30px;
}

#foods_infodiv h4 > span::before {
    position: absolute;
    top: 50%;
    width: 9px;
    right: 6px;
}

#foods_infodiv h4 > span::after {
    position: absolute;
    top: 50%;
    width: 9px;
    right: 0;
}

#foods_infodiv > div.open > h4 > span::before {
    width: 14px;
    right: 5px;
    webkit-transform: translateX(5px) rotate(-45deg);
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -o-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
}

#foods_infodiv > div.open > h4 > span::after {
    width: 14px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
