#menu_user_menu {
    min-width: 260px;
    max-width: 100%;
    z-index: 100;
}

#menu_user_menu h3 {
    color: #2196F3;
    margin-bottom: 30px;
}

#menu_close {
    float: right;
    margin-right: -50px
}

#menu_user_menu ul {
    left: 0;
    list-style: none;
    display: block;
    min-width: 100%;
    position: relative;
}

#menu_user_menu ul li {
    display: block;
    padding: 10px 0;
}

#menu_user_menu ul li a,
#menu_user_menu ul li.open a {
    display: block;
    background-color: transparent;
}

#menu_user_menu ul .menu-link {
    padding: 0;
}

#menu_user_menu ul li ul {
    position: relative;
    display: none;
    padding-left: 10px;
}

#menu_user_menu ul li.open ul {
    display: block;
}