<div class="content">
    <h3 class="pagetitle">{{title}}</h3>
    <md-data-table layout-fill>
        <thead>
        <tr>
            <th class="md-text-cell">Food Truck</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#brand of brands">
            <td class="md-text-cell"><span class='name brand-color myfoods'><a
                    [routerLink]="['/Pages/Brand', {_id: brand._id}]">{{brand.name}}</a></span></td>
            <td><i *ngIf="brand.daysofweek?.indexOf(2) > -1" class="material-icons">done</i></td>
            <td><i *ngIf="brand.daysofweek?.indexOf(3) > -1" class="material-icons">done</i></td>
            <td><i *ngIf="brand.daysofweek?.indexOf(4) > -1" class="material-icons">done</i></td>
        </tr>
        </tbody>
    </md-data-table>
</div>